button {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 0.8em 1.8em;
  font-size: 1.4em;
  font-weight: 700;
  border-radius: 0.6em;
  outline: none;
  appearance: none;
  border: none;
  cursor: pointer;
  transition: filter 0.3s 0s ease-out;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}
