/* latin-ext */
@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/Akrobat-Thin.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Akrobat-Regular.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Akrobat-Bold.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


