.icon {
  width: 1.8em;
  height: 1.8em;
  flex-shrink: 0;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;

  &.trash {
    background-image: url("../icons/trash.svg");
  } 
  &.file-explorer {
    background-image: url("../icons/file-explorer.svg");
  } 
}
