@import './variables.scss';
@import './font.scss';
@import './icons.scss';
@import './utils.scss';
@import './buttons.scss';

:root {
  font-family: Akrobat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  font-weight: 100;
  margin-block-start: calc(3.2em / 10);
  margin-block-end: calc(3.2em / 10);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 10px;
  color: var(--color-dark-blue);
}

#app {
  max-width: 1280px;
  padding: 0.6rem;
  text-align: left;
}

/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*   } */
/* } */
