:root {
  --color-red: rgb(208, 0, 0);
  --color-yellow: rgb(255, 186, 8);
  --color-blue: rgb(63, 136, 197);
  --color-dark-blue: rgb(3, 43, 67);
  --color-green: rgb(19, 111, 99);

  --color-white: rgb(255, 255, 249);
}
