<script setup lang="ts">
const props = defineProps<{
  path: string,
  selected: boolean,
  index: number,
}>()

const emit = defineEmits<{
  (e: "selected", id: number): void
}>()

const checkboxEvent = () => {
  emit("selected", props.index)
}
</script>

<template>
  <li class="path-item">
    <input type="checkbox" :value="selected" @change="checkboxEvent" />
    <span>{{ path }}</span>
    <div class="icon trash" @click="$emit('delete', props.index)"></div>
  </li>
</template>

<style lang="scss">
li.path-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  input[type="checkbox"] {
    margin-right: 1.2em;
  }

  .icon.trash {
    margin-left: 1.4em;
  }
}
</style>
