<script setup lang="ts">
import { ref, computed, onMounted, Ref, ComputedRef } from "vue"
import { invoke } from "@tauri-apps/api/tauri"
import { open } from "@tauri-apps/api/dialog"

import PathItem from "./PathItem.vue"

interface PathItemProps {
  label: string;
  selected: boolean;
  index?: number;
}

let pathToRcFile: Ref<string> = ref("")
const listOfSourceFiles: Ref<string[]> = ref([])
const pathVars: Ref<PathItemProps[]> = ref([])
let newPathString: Ref<string | null> = ref(null)
const selectedPaths: ComputedRef<PathItemProps[]> = computed(() => pathVars.value
  .map((pathItem, index) => ({
    ...pathItem,
    index,
  }))
  .filter((pathItem) => pathItem.selected)
)

const onPathItemSelected = (index: number) => {
  pathVars.value[index].selected = !pathVars.value[index].selected
}

const onPathDelete = (index: number) => {
  pathVars.value.splice(index, 1)
}

const deleteSelectedPath = () => {
  selectedPaths.value.forEach((path: PathItemProps) => pathVars.value.splice(path.index as number, 1))
}

const openFilePicker = async () => {
  const selectedDirectory = await open({
    multiple: false,
    directory: true
  }) as string
  if (selectedDirectory !== null) {
    newPathString.value = selectedDirectory
  }
}

const newPath = () => {
  if (newPathString.value !== null) pathVars.value.push({
    label: newPathString.value,
    selected: false
  })
  console.log(newPathString.value)
  newPathString.value = null
}

const savePath = async () => {
  await invoke("write_source_file", {
    filepath: pathToRcFile.value,
    pathVars: pathVars.value.map((pathItem: PathItemProps) => pathItem.label)
  })
}

onMounted(async () => {
  pathVars.value = (await invoke("get_path") as string[]).map((path: string) => ({
    label: path,
    selected: false
  }))
  listOfSourceFiles.value = await invoke("get_list_of_source_files")
  pathToRcFile.value = listOfSourceFiles.value[0] as string
})
</script>

<template>
  <div class="path-item-list">
    <div class="header-sticky">
      <div class="flex">
        <label for="sourceFileSelectElement" title="The source file in which the PATH will be written">Source file:
        </label>
        <select id="sourceFileSelectElement" v-model="pathToRcFile">
          <option v-for="sourceFile in listOfSourceFiles" :value="sourceFile" :selected="sourceFile === pathToRcFile"
            :key="sourceFile">
            {{ sourceFile }}
          </option>
        </select>
        <div class="flex">
          <button class="create" @click="newPath">+</button>
          <button class="create" @click="savePath">Save</button>
          <div class="icon trash" @click="deleteSelectedPath" title="Delete all selected paths"></div>
        </div>
      </div>
      <div class="flex">
        <label for="newPath" title="A new path to add">New path: </label>
        <input type="text" v-model="newPathString" @keypress.enter="newPath" />
        <label class="file-container icon file-explorer" @click="openFilePicker"></label>
      </div>
    </div>
    <div class="flex">
      <ul>
        <PathItem v-for="(pathItem, index) in pathVars" :path="pathItem.label" :selected="pathItem.selected"
          :index="index" @selected="onPathItemSelected" @delete="onPathDelete" :key="`${pathItem.label}.${index}`" />
      </ul>
    </div>
  </div>
</template>

<style lang="scss">
.path-item-list {
  label {
    font-size: 1.4em;
    font-weight: 700;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

    li.path-item {
      width: 100%;
      margin-top: 0.8em;

      span {
        font-size: 1.4em;
      }

      .icon.trash {
        margin-left: auto;
      }
    }
  }

  .file-container {
    margin-left: 1.2em;
  }

  .header-sticky {
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    padding: 0.4em 1.2em;

    .icon.trash {
      margin-left: 1.2em;
      width: 3.2em;
      height: 3.2em;
    }
  }

  .create {
    margin-left: 1.2em;
  }
}
</style>
