<script setup lang="ts">
// see: https://vuejs.org/guide/built-ins/suspense.html#combining-with-other-components
// and: https://vuejs.org/guide/components/async.html#loading-and-error-states
import PathItemList from "./components/PathItemList.vue"
</script>

<template>
  <h1>PATH</h1>
  <PathItemList />
</template>

<style lang="scss"></style>
